body {
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: row;
    flex: auto;
}

article{
    flex: 2;
    overflow-y: auto;
}

aside{
    flex: 1;
    overflow-y: auto;
}

.right {
    float: right;
    width: 170px;
    margin-left: 5px;
}

.left {
    float: left;
    max-width: 200px;
    margin-right: 10px;
    max-height: 140px;
}
iframe{
    text-align: left;
    min-width: 390px;
    min-height: 300px;
    margin-left: auto;
}
