body {
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: row;
    flex: auto;
}

.share{
    display: flex;
    flex-direction: row;
    text-align: right;
    max-height: 20px;
    max-width: 100px;
}

ul{
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    align-items: center;
}

article{
    flex: 2;
    overflow-y: auto;
}

aside{
    flex: 1;
    overflow-y: auto;
}

.right {
    float: right;
    width: 170px;
    margin-left: 5px;
}

.left {
    float: left;
    max-width: 200px;
    margin-right: 10px;
    max-height: 140px;
}
iframe{
    text-align: left;
    min-width: 390px;
    min-height: 300px;
    margin-left: auto;
}

.responsive img{
    flex-grow: 0;
    margin-top: 0px;
    margin-left: 0px;
    width: auto;
    max-height: 150px;
}

.tab a{
    flex-grow: 0;
    padding: 10px;
    text-align: center;
}

.tab a:hover{
    color: #F80002;
    font-weight: bolder;
}


.social{
    flex-wrap: wrap;
    flex-grow: 24;
    float: right;
    margin-left: 5px;
    width: 70px;
}

header{
    height: 150px;
}