body {
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: row;
    flex: auto;
}

ol{
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    align-items: center;
}

article{
    flex: 2;
    overflow-y: auto;
}

aside{
    flex: 1;
    overflow-y: auto;
}

.right {
    float: right;
    width: 170px;
    margin-left: 5px;
}

.left {
    float: left;
    max-width: 200px;
    margin-right: 10px;
    max-height: 140px;
}
iframe{
    text-align: left;
    min-width: 390px;
    min-height: 300px;
    margin-left: auto;
}

.responsive{
    flex-grow: 1;
    margin-top: 0px;
    margin-left: 0px;
    width: auto;
    max-height: 100%;
}

.tab{
    flex-grow: 2;
}

.social{
    flex-wrap: wrap;
    flex-grow: 0;
    float: right;
    margin-left: 5px;
    width: 70px;
}
